ion-card-header {
    display: flex;
    justify-content: space-between;
    
    .flight--info {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0;
        }

        p {
            margin: 0;
            margin-top: 8px;
        }
    }

    .arrival--info {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;

        ion-note {
            font-size: 1rem;
            font-weight: bold;
            text-align: right;
        }
    
        .arrival-estimate {
            margin: 0;
            margin-top: 8px;
        }
    }
}