<ion-card *ngIf="flight">
  <ion-card-header>
    <div class='flight--info'>
      <h1>Flight {{ flight.flightNumber }}</h1>
      <p>{{ flight.flightLegs[0].departureInformation.airport.nameLangTranl }} <ion-icon name="airplane-outline"></ion-icon> {{ flight.flightLegs[0].arrivalInformation.airport.nameLangTranl }}</p>
    </div>

    <div class='arrival--info'>
      <ion-note [color]="getFlightStatusColor(flight.flightStatusPublic)">
        {{ flight.flightStatusPublicLangTransl }}
      </ion-note>
      <p class='arrival-estimate' *ngIf="shouldShowArrivalInformation(flight.flightStatusPublic)">
        {{ timeLeft }}
      </p>
    </div>
    
  </ion-card-header>
</ion-card>