<ion-header color="primary">
  <ion-toolbar>
    <ion-title>
      Flight statuses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="flights$ | async as flightStatus; else loading">
    <app-list-item-flight-status 
      *ngFor="let flight of flightStatus"
      [flight]="flight">
    </app-list-item-flight-status>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreFlights($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ng-template #loading>
  <ion-spinner id="loading"></ion-spinner>
</ng-template>
